.DS_Store
**/.DS_Store
**/.gradle/
**/.kotlin/
**/.local/
**/node_modules/
**/build/
**/local.properties
**/xcuserdata/
**/Pods/
.env
.env.*
*.keystore
*.jks
*.p12
*.pfx
*.mobileprovision
*.pem
*.key
!*.example
